In [1]:
import pandas as pd

In [25]:
week1 = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_20221005.csv')
week2 = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_20221012.csv')
week3 = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_20221019.csv')
week4 = pd.read_csv('data/CI_DAY_AVRG_LSR_CLTUR_TIME_ND_USE_RLIMP_INFO_20221026.csv')

In [26]:
week1

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322175,20221005,F,20대,서울특별시,300이상500만원 미만,5,8,41,20,30,50,0,0
1,53322586,20221005,F,50대,서울특별시,300이상500만원 미만,3,2,19,60,10,5,15,10
2,53322613,20221005,F,50대,서울특별시,700만원 이상,3,12,39,0,50,0,50,0
3,53322634,20221005,F,60대,서울특별시,300만원 미만,2,10,30,50,10,10,10,20
4,53322657,20221005,M,60대,서울특별시,300이상500만원 미만,10,4,58,10,30,50,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53376787,20221005,F,30대,경기도,500이상700만원 미만,1,6,17,40,20,10,20,10
526,53377297,20221005,F,40대,서울특별시,500이상700만원 미만,2,5,20,50,5,10,35,0
527,53377355,20221005,M,30대,경기도,300만원 미만,1,1,7,100,0,0,0,0
528,53377490,20221005,M,30대,대전광역시,300이상500만원 미만,3,3,21,50,30,0,20,0
529,53377524,20221005,F,60대,경기도,300이상500만원 미만,3,3,21,10,40,20,30,0

In [27]:
week4.isna().sum()

RESPOND_ID                             0
EXAMIN_BEGIN_DE                        0
SEXDSTN_FLAG_CD                        0
AGRDE_FLAG_NM                          0
ANSWRR_OC_AREA_NM                      0
HSHLD_INCOME_DGREE_NM                  0
WORKDAY_DAY_AVRG_LSR_TIME_VALUE        0
WKEND_DAY_AVRG_LSR_TIME_VALUE          0
ONE_WEEK_TOT_LSR_TIME_VALUE            0
LSR_TIME_REST_RCRT_USE_RATE            0
LSR_TIME_HOBBY_USE_RATE                0
LSR_TIME_SELF_IMPT_USE_RATE            0
LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE    0
LSR_TIME_ETC_USE_RATE                  0
dtype: int64

In [ ]:
# na없음. 하지만 소득정도에 무응답이라고 적힌 사람들이 있다.

In [ ]:
# 무응답 데이터 삭제는 머신러닝할때 하자

In [34]:
week1[week1['HSHLD_INCOME_DGREE_NM'] == '무응답']

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
7,53322749,20221005,F,20대,서울특별시,무응답,5,8,41,70,0,0,30,0
12,53323560,20221005,F,30대,경기도,무응답,1,7,19,90,5,0,5,0
14,53323687,20221005,F,30대,서울특별시,무응답,2,2,14,80,0,10,10,0
49,53328244,20221005,M,40대,경기도,무응답,1,3,11,70,0,30,0,0
59,53329170,20221005,M,20대,전라북도,무응답,2,5,20,80,0,0,20,0
62,53329438,20221005,F,20대,대전광역시,무응답,2,10,30,80,0,0,20,0
70,53330089,20221005,M,20대,충청북도,무응답,10,10,70,40,15,15,30,0
75,53330479,20221005,M,20대,부산광역시,무응답,6,10,50,80,0,0,20,0
88,53331373,20221005,F,40대,대구광역시,무응답,2,3,16,40,10,5,45,0
93,53332346,20221005,M,50대,강원도,무응답,2,6,22,70,0,10,20,0
118,53334920,20221005,M,20대,서울특별시,무응답,1,3,11,10,40,45,5,0
124,53335540,20221005,M,40대,경기도,무응답,4,8,36,50,50,0,0,0
127,53335771,20221005,F,50대,인천광역시,무응답,4,8,36,40,0,20,40,0
151,53337656,20221005,M,50대,부산광역시,무응답,1,1,7,90,0,0,0,10
174,53339085,20221005,F,20대,경기도,무응답,4,12,44,50,10,10,30,0
226,53344265,20221005,M,20대,인천광역시,무응답,2,2,14,50,50,0,0,0
244,53345992,20221005,F,20대,경기도,무응답,2,4,18,70,0,10,20,0
249,53346182,20221005,F,20대,대구광역시,무응답,3,8,31,75,5,10,10,0
251,53346349,20221005,M,20대,경기도,무응답,4,8,36,80,0,0,20,0
256,53346832,20221005,M,20대,충청남도,무응답,2,8,26,65,15,5,15,0
265,53347622,20221005,M,20대,전라북도,무응답,2,4,18,20,30,0,50,0
266,53348101,20221005,F,50대,서울특별시,무응답,10,10,70,80,0,0,20,0
267,53348143,20221005,M,20대,경기도,무응답,3,8,31,100,0,0,0,0
274,53348980,20221005,M,20대,서울특별시,무응답,2,4,18,50,20,0,30,0
295,53350746,20221005,M,20대,대구광역시,무응답,4,4,28,20,30,20,30,0
317,53352986,20221005,M,30대,서울특별시,무응답,1,1,7,5,5,90,0,0
338,53355579,20221005,F,20대,전라남도,무응답,12,12,84,90,10,0,0,0
359,53358205,20221005,M,20대,광주광역시,무응답,5,10,45,30,20,0,50,0
366,53358642,20221005,M,40대,인천광역시,무응답,1,5,15,80,0,0,20,0
429,53364619,20221005,M,40대,전라북도,무응답,3,7,29,30,10,30,30,0
450,53366917,20221005,M,60대,대구광역시,무응답,10,10,70,80,0,10,10,0
478,53371628,20221005,F,30대,부산광역시,무응답,2,3,16,40,10,30,20,0
499,53374427,20221005,F,20대,경기도,무응답,7,7,49,80,0,10,10,0
512,53375597,20221005,M,30대,충청북도,무응답,4,7,34,50,10,15,25,0
518,53375960,20221005,F,20대,대구광역시,무응답,0,2,4,50,0,0,50,0

In [40]:
(week1['HSHLD_INCOME_DGREE_NM'] == '무응답').sum()

35

In [ ]:
# week1,2,3,4 병함

In [46]:
week1

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322175,20221005,F,20대,서울특별시,300이상500만원 미만,5,8,41,20,30,50,0,0
1,53322586,20221005,F,50대,서울특별시,300이상500만원 미만,3,2,19,60,10,5,15,10
2,53322613,20221005,F,50대,서울특별시,700만원 이상,3,12,39,0,50,0,50,0
3,53322634,20221005,F,60대,서울특별시,300만원 미만,2,10,30,50,10,10,10,20
4,53322657,20221005,M,60대,서울특별시,300이상500만원 미만,10,4,58,10,30,50,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53376787,20221005,F,30대,경기도,500이상700만원 미만,1,6,17,40,20,10,20,10
526,53377297,20221005,F,40대,서울특별시,500이상700만원 미만,2,5,20,50,5,10,35,0
527,53377355,20221005,M,30대,경기도,300만원 미만,1,1,7,100,0,0,0,0
528,53377490,20221005,M,30대,대전광역시,300이상500만원 미만,3,3,21,50,30,0,20,0
529,53377524,20221005,F,60대,경기도,300이상500만원 미만,3,3,21,10,40,20,30,0

In [47]:
week2

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322214,20221012,M,30대,서울특별시,300이상500만원 미만,2,5,20,100,0,0,0,0
1,53322376,20221012,M,60대,서울특별시,300만원 미만,2,5,20,40,20,0,20,20
2,53323026,20221012,F,40대,서울특별시,300이상500만원 미만,1,2,9,50,45,0,5,0
3,53323101,20221012,F,40대,서울특별시,500이상700만원 미만,5,7,39,40,0,20,40,0
4,53323193,20221012,F,40대,서울특별시,무응답,3,10,35,10,50,20,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,53376613,20221012,F,60대,서울특별시,500이상700만원 미만,1,2,9,20,10,20,30,20
529,53376871,20221012,F,60대,충청남도,300이상500만원 미만,4,5,30,0,30,0,50,20
530,53376895,20221012,F,50대,광주광역시,500이상700만원 미만,2,1,12,20,70,10,0,0
531,53377071,20221012,M,40대,대구광역시,300만원 미만,1,5,15,40,10,50,0,0
532,53377181,20221012,F,60대,경상북도,700만원 이상,6,4,38,40,30,20,10,0

In [42]:
week1.shape

(530, 14)

In [43]:
week2.shape

(533, 14)

In [44]:
week3.shape

(529, 14)

In [45]:
week4.shape

(530, 14)

In [49]:
week1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   RESPOND_ID                           530 non-null    int64
 1   EXAMIN_BEGIN_DE                      530 non-null    int64
 2   SEXDSTN_FLAG_CD                      530 non-null    object
 3   AGRDE_FLAG_NM                        530 non-null    object
 4   ANSWRR_OC_AREA_NM                    530 non-null    object
 5   HSHLD_INCOME_DGREE_NM                530 non-null    object
 6   WORKDAY_DAY_AVRG_LSR_TIME_VALUE      530 non-null    int64
 7   WKEND_DAY_AVRG_LSR_TIME_VALUE        530 non-null    int64
 8   ONE_WEEK_TOT_LSR_TIME_VALUE          530 non-null    int64
 9   LSR_TIME_REST_RCRT_USE_RATE          530 non-null    int64
 10  LSR_TIME_HOBBY_USE_RATE              530 non-null    int64
 11  LSR_TIME_SELF_IMPT_USE_RATE          530 non-null    int64
 12  LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE  530 non-null    int64
 13  LSR_TIME_ETC_USE_RATE                530 non-null    int64
dtypes: int64(10), object(4)
memory usage: 58.1+ KB

In [50]:
week1.describe()

,RESPOND_ID,EXAMIN_BEGIN_DE,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
count,5.300000e+02,530.0,530.000000,530.000000,530.000000,530.000000,530.000000,530.000000,530.000000,530.000000
mean,5.334883e+07,20221005.0,2.858491,5.716981,25.726415,41.516981,18.271698,13.986792,23.073585,3.150943
std,1.537525e+04,0.0,2.036708,3.356439,14.587804,25.017209,18.334060,16.039230,19.296323,10.022463
min,5.332218e+07,20221005.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.333603e+07,20221005.0,1.000000,3.000000,15.000000,20.000000,0.000000,0.000000,10.000000,0.000000
50%,5.334756e+07,20221005.0,2.000000,5.000000,22.000000,40.000000,10.000000,10.000000,20.000000,0.000000
75%,5.336163e+07,20221005.0,4.000000,8.000000,35.000000,60.000000,30.000000,20.000000,30.000000,0.000000
max,5.337752e+07,20221005.0,12.000000,18.000000,84.000000,100.000000,100.000000,100.000000,100.000000,80.000000

In [54]:
week1

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322175,20221005,F,20대,서울특별시,300이상500만원 미만,5,8,41,20,30,50,0,0
1,53322586,20221005,F,50대,서울특별시,300이상500만원 미만,3,2,19,60,10,5,15,10
2,53322613,20221005,F,50대,서울특별시,700만원 이상,3,12,39,0,50,0,50,0
3,53322634,20221005,F,60대,서울특별시,300만원 미만,2,10,30,50,10,10,10,20
4,53322657,20221005,M,60대,서울특별시,300이상500만원 미만,10,4,58,10,30,50,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53376787,20221005,F,30대,경기도,500이상700만원 미만,1,6,17,40,20,10,20,10
526,53377297,20221005,F,40대,서울특별시,500이상700만원 미만,2,5,20,50,5,10,35,0
527,53377355,20221005,M,30대,경기도,300만원 미만,1,1,7,100,0,0,0,0
528,53377490,20221005,M,30대,대전광역시,300이상500만원 미만,3,3,21,50,30,0,20,0
529,53377524,20221005,F,60대,경기도,300이상500만원 미만,3,3,21,10,40,20,30,0

In [61]:
week1['SEXDSTN_FLAG_CD'].unique()

array(['F', 'M'], dtype=object)

In [60]:
week1['AGRDE_FLAG_NM'].unique()

array(['20대', '50대', '60대', '40대', '30대'], dtype=object)

In [62]:
week1['ANSWRR_OC_AREA_NM'].unique()

array(['서울특별시', '경기도', '충청북도', '인천광역시', '대구광역시', '광주광역시', '전라북도', '전라남도',
       '충청남도', '대전광역시', '강원도', '울산광역시', '경상남도', '세종특별자치시', '경상북도',
       '부산광역시', '제주특별자치도'], dtype=object)

In [63]:
week1['HSHLD_INCOME_DGREE_NM'].unique()

array(['300이상500만원 미만', '700만원 이상', '300만원 미만', '500이상700만원 미만', '무응답'],
      dtype=object)

In [67]:
df = pd.concat([week1, week2, week3, week4])

In [68]:
df

,RESPOND_ID,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
0,53322175,20221005,F,20대,서울특별시,300이상500만원 미만,5,8,41,20,30,50,0,0
1,53322586,20221005,F,50대,서울특별시,300이상500만원 미만,3,2,19,60,10,5,15,10
2,53322613,20221005,F,50대,서울특별시,700만원 이상,3,12,39,0,50,0,50,0
3,53322634,20221005,F,60대,서울특별시,300만원 미만,2,10,30,50,10,10,10,20
4,53322657,20221005,M,60대,서울특별시,300이상500만원 미만,10,4,58,10,30,50,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,53377283,20221026,F,50대,충청북도,300만원 미만,2,4,18,10,80,0,10,0
526,53377318,20221026,M,50대,강원도,300이상500만원 미만,1,2,9,15,35,30,20,0
527,53377319,20221026,M,20대,전라북도,700만원 이상,2,7,24,50,20,20,10,0
528,53377395,20221026,M,50대,대구광역시,300만원 미만,1,2,9,70,30,0,0,0
529,53377450,20221026,F,30대,경기도,300만원 미만,2,10,30,70,10,15,5,0

In [69]:
df['SEXDSTN_FLAG_CD'].unique()

array(['F', 'M'], dtype=object)

In [70]:
df['AGRDE_FLAG_NM'].unique()

array(['20대', '50대', '60대', '40대', '30대'], dtype=object)

In [71]:
df['ANSWRR_OC_AREA_NM'].unique()

array(['서울특별시', '경기도', '충청북도', '인천광역시', '대구광역시', '광주광역시', '전라북도', '전라남도',
       '충청남도', '대전광역시', '강원도', '울산광역시', '경상남도', '세종특별자치시', '경상북도',
       '부산광역시', '제주특별자치도'], dtype=object)

In [72]:
df['HSHLD_INCOME_DGREE_NM'].unique()

array(['300이상500만원 미만', '700만원 이상', '300만원 미만', '500이상700만원 미만', '무응답'],
      dtype=object)